[user]
	name = Adam Szczygieł
	email = lypant@tlen.pl
[credential]
	helper = cache
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
	ui = true
[core]
	editor = vim

